<div class="post-tags">
  Tags: 
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <!--
  <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>{% unless forloop.last %},{% endunless %}
  -->
  <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
  {% endfor %}
</div>
